@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  padding: 0; 
  background: rgb(61,65,77);
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}

p {
  line-height: 1.5;
}